.Dish-Cart{
    background-color: #FFFAE7;
    width:1600px;
    height: 200px;
    margin-top: 10px;
    border-bottom: 1px solid ;
    display:flex;
}
.Dish-Thumbnail{
    padding: 10px;
    width: 320px;
    background-color: #FFFAE7;
}
.Dish-Thumbnail img{
    height: 200px;
    width: 200px;
}
.Dish-Name{
    width: 480px;
    padding: 40px;
}
.Dish-Price{
    width: 240px;
    text-align: center;
    line-height: 320px;
    padding-top: 85px;
    
}
.Dish-Quantity{
    width: 320px;
    text-align: center;
    padding-top: 70px;
    padding-left: 60px;

}
.Change-Quantity{
    height: 60px;
    width: 230px;
    background-color: #A9493C;
    padding-top: 5px;
}
.Total-Price{
    width: 240px;
}
.Dish-Price, .Total-Price{
    text-align: center;
    line-height: 320px;
    font-size: larger;
}
.Total-Price{
    display: flex;
    word-spacing: 10px;
}